:root {
    --primary-orange: hsl(31, 77%, 52%);
    --primary-cyan: hsl(184, 100%, 22%);
    --primary-dark-cyan: hsl(179, 100%, 13%);
    --neutral-white: hsla(0, 0%, 100%, 0.75);
    --neutral-gray: hsl(0, 0%, 95%);
}

@media only screen and (max-width: 600px) {
    body {
        background-color: var(--neutral-gray);
        margin: 0;
    }

    .card-wrapper {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }

    .col-1 {
        background-color: var(--primary-orange);
    }

    .col-2 {
        background-color: var(--primary-cyan);
    }

    .col-3 {
        background-color: var(--primary-dark-cyan);
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}