@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --primary-cyan: hsl(185, 75%, 39%);
  --primary-blue: hsl(229, 23%, 23%);
  --primart-grayish-blue: hsl(227, 10%, 46%);
  --neutral-dark-gray: hsl(0, 0%, 59%);
}

* {
    box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  position: relative;
  background-color: var(--primary-cyan);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h3 {
    color: var(--primart-grayish-blue);
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    color: var(--neutral-dark-gray);
}

.upper-div {
    background-image: url('images/bg-pattern-card.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
}

.card-wrapper img {
    position: absolute;
    border-radius: 50%;
    border: 5px solid white;
    left: 32.5%;
    top: 23%;
}

.middle-div {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.row-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-1 h3 {
    padding: 0;
    margin-right: 0.5rem;
    font-size: 18px;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    border-top: 0.5px solid hsla(0, 0%, 59%, 0.4);
}

.stat_element {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.stat_element h3 {
    margin: 0;
}






/*
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
*/